body{
    margin:0;
    padding : 0;

}

.main{
    display: flex;
    flex-direction: column;

}
.main__header-container{
    width : 100vw;
    height : 8vh;

    border-bottom : 1px solid #E4E4E4;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;


}
.main__header-menu{
    width : 100%;
    height : 100%;

    list-style-type: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main__header-menu-search{
    width : 70%;
}

.main__content-container {
    width : 100vw;
    height : 92vh;
    display: grid;
    
    grid-template-columns:.5fr 4fr
}

.main__content-sidebar{
    padding : 10px;
}

.main__content-booklist{
    height : 92vh;
    border-left: 1px solid #E4E4E4
   
}

.main__content-booklist > ul{
    list-style-type: none;
    margin : 0; padding : 0;
    height : 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: auto;
}

.book-item {
    height : 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;

}

.book-item img {
    width: 50%;
    height : 60%;
    padding: 5px;
    
}

.book-shadow{
    box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07);
}

.book-item .book-title {
    font-weight: bold;
    line-height: 30px;
    margin-top : 10px;
}

.book-item .book-author {
    font-size: 0.825em;
}
.book__info-header{
    height : 20%;
}
.book__info-sub-header{
    color : #666 !important;
}
.book__info-font{
    font-size: 1.1rem;
    font-weight: bold;
    margin : 2em 0 ;
    
}
.book-action-btn{

    margin-top : 10px !important;
    margin-right : 0 !important;
}
.book__info-image{
    height : 50vh !important;
}


